<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--===== 配置spring-mvc的环境 =====-->
    <!--配置ico容器管理的bean-->
    <context:component-scan base-package="com.dsm.dao">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>
    <context:component-scan base-package="com.dsm.service">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!--spring mvc 要扫描的 controller 位置-->
    <context:component-scan base-package="com.dsm.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:component-scan base-package="com.dsm.common.expanding"></context:component-scan>
    <context:component-scan base-package="com.dsm.common.cache"></context:component-scan>
    <aop:aspectj-autoproxy expose-proxy="true"/>

    <!--开启注解映射-->
    <mvc:annotation-driven/>


    <!-- 默认访问跳转到首页(即定义无需Controller的url<->view直接映射) -->
    <!--<mvc:view-controller path="/" view-name="forward:/index.jsp"/>-->

    <!--配置项目内静态文件的过滤-->
    <!--suppress SpringModelInspection -->
    <mvc:resources mapping="/js/**" location="/resources/js/"/>
    <!--suppress SpringModelInspection -->
    <mvc:resources mapping="/css/**" location="/resources/css/"/>
    <!--suppress SpringModelInspection -->
    <mvc:resources mapping="/images/**" location="/resources/images/"/>
    <!--suppress SpringModelInspection -->
    <mvc:resources mapping="/font-awesome/**" location="/resources/font-awesome/"/>
    <!--suppress SpringModelInspection -->
    <mvc:resources mapping="/fonts/**" location="/resources/fonts/"/>
    <!--suppress SpringModelInspection -->
    <mvc:resources mapping="/bower_components/**" location="/resources/bower_components/"/>
    <!--配置图片存储地址对应的虚拟路径-->
    <!--suppress SpringModelInspection -->
    <mvc:resources mapping="/fileBase/**" location="/fileBase/**"/>
    <mvc:default-servlet-handler/>

    <!-- 拦截器，多个组成拦截器链 -->
    <mvc:interceptors>
        <!--拦截所有进去 controller 中的请求-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!--排除所有的静态资源-->
            <mvc:exclude-mapping path="/resources/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/font-awesome/**"/>
            <mvc:exclude-mapping path="/fonts/**"/>
            <mvc:exclude-mapping path="/fileBase/**"/>
            <!--排除某些后缀名的文件-->
            <mvc:exclude-mapping path="/*.xml"/>
            <mvc:exclude-mapping path="/*.html"/>
            <mvc:exclude-mapping path="/*.txt"/>
            <mvc:exclude-mapping path="/*.ico"/>
            <!--排除登录页面-->
            <mvc:exclude-mapping path="/showLogin"/>
            <mvc:exclude-mapping path="/regSuccess"/>
            <bean class="com.dsm.common.interceptor.ControllerInterceptor"/>
        </mvc:interceptor>

        <!-- 需要登录的页面，拦截校验用户是否登录  -->
        <mvc:interceptor>
            <!--用户账户页面-->
            <mvc:mapping path="/userHome/**"/>
            <!--个人中心页面-->
            <mvc:mapping path="/user/**"/>
            <!--结算页面-->
            <!--购物车页面-->
            <bean class="com.dsm.common.interceptor.AuthorityInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--Default ViewResolver-->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp"/>
        <property name="suffix" value=".jsp"/>
    </bean>




</beans>