<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- mybatis 基本配置 -->
    <settings>
        <!--mybatis 二级缓存-->
        <setting name="cacheEnabled" value="false" />
        <!--mybatis 本地缓存 STATEMENT 表示不使用-->
        <setting name="localCacheScope" value="SESSION" />
        <!--<setting name="multipleResultSetsEnabled" value="true" />-->
        <!--<setting name="useColumnLabel" value="true" />-->
        <!--<setting name="useGeneratedKeys" value="false" />-->
        <!--<setting name="autoMappingBehavior" value="PARTIAL" />-->
        <!--<setting name="defaultExecutorType" value="SIMPLE" />-->
        <!--<setting name="defaultStatementTimeout" value="25" />-->
        <!--<setting name="safeRowBoundsEnabled" value="false" />-->
        <!--<setting name="mapUnderscoreToCamelCase" value="false" />-->

        <setting name="jdbcTypeForNull" value="NULL" />
        <!-- 配置嵌套sql的延时加载 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="false" />
        <!--<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />-->
    </settings>

    <!-- 设置别名映射器 -->
    <typeAliases>
        <package name="com.dsm.model"/>
        <package name="com.dsm.model.address"/>
        <package name="com.dsm.model.product"/>
        <package name="com.dsm.model.seller"/>
        <package name="com.dsm.model.user"/>
    </typeAliases>

    <!-- 由于mybatis没有实现通配符的功能，故使用spring配置mapper映射文件路径 -->
    <!--<mappers>-->
        <!--<package name="classpath:mybatis/mapping/**/*.xml"/>-->
    <!--</mappers>-->

</configuration>